</main>
<!-- TODO: Insert SVG Circles Background -->
<svg xmlns="http://www.w3.org/2000/svg" width="1930" height="3809" fill="none" class="sm--full-page__background-circles"><circle cx="1353" cy="1175" r="377" fill="url(#paint1_linear)"/><circle cx="360" cy="308" r="138" fill="url(#paint2_linear)"/><circle cx="1625.5" cy="290.5" r="290.5" fill="url(#paint3_linear)"/><circle cx="789" cy="791" r="136" fill="url(#paint4_linear)"/><path fill="url(#paint5_linear)" d="M407.795 2950.94c216.935-20.95 409.781 137.92 430.734 354.86 20.953 216.93-137.922 409.78-354.857 430.73-216.935 20.95-409.78-137.92-430.734-354.86-20.952-216.93 137.922-409.78 354.857-430.73z"/><path fill="url(#paint6_linear)" d="M1608.03 2691.98c148.59-14.35 280.67 94.47 295.02 243.05 14.35 148.59-94.46 280.67-243.05 295.02-148.58 14.35-280.66-94.46-295.02-243.05-14.35-148.58 94.47-280.66 243.05-295.02z"/><circle cx="1578.09" cy="3557.09" r="165.635" fill="url(#paint7_linear)" transform="rotate(-87.36 1578.09 3557.09)"/><circle cx="1210.1" cy="3121.1" r="237.545" fill="url(#paint8_linear)"/><circle cx="490.594" cy="3574.59" r="165.635" fill="url(#paint9_linear)"/><path fill="url(#paint10_linear)" d="M423.795 1573.94c216.935-20.95 409.781 137.92 430.734 354.86 20.953 216.93-137.922 409.78-354.857 430.73-216.935 20.95-409.78-137.92-430.734-354.86-20.952-216.93 137.922-409.78 354.857-430.73z"/><path fill="url(#paint11_linear)" d="M978.918 1899.83c187.732-18.13 354.622 119.36 372.752 307.09 18.13 187.73-119.36 354.62-307.09 372.75-187.731 18.13-354.617-119.36-372.749-307.09-18.132-187.73 119.355-354.62 307.087-372.75z"/><circle cx="372.75" cy="1233.75" r="341.5" fill="url(#paint12_linear)"/><path fill="url(#paint13_linear)" d="M1511.03 1566.98c148.59-14.35 280.67 94.47 295.02 243.05 14.35 148.59-94.46 280.67-243.05 295.02-148.58 14.35-280.66-94.46-295.02-243.05-14.35-148.58 94.47-280.66 243.05-295.02z"/><circle cx="1649.76" cy="1250.76" r="168.941" fill="url(#paint14_linear)"/><circle cx="1224.94" cy="1635.94" r="133.152" fill="url(#paint15_linear)"/><circle cx="552.284" cy="2769.28" r="165.635" fill="url(#paint16_linear)"/><circle cx="451.824" cy="2943.82" r="104.788" fill="url(#paint17_linear)"/><circle cx="1173.11" cy="2614.11" r="225.032" fill="url(#paint18_linear)"/><circle cx="384.425" cy="2247.43" r="178.374" fill="url(#paint19_linear)"/><defs><linearGradient id="paint1_linear" x1="1353" x2="1353" y1="798" y2="1552" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint2_linear" x1="548.048" x2="360" y1="170" y2="446" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint3_linear" x1="1088.71" x2="1952.84" y1="1007.28" y2="-383.123" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint4_linear" x1="925" x2="819.458" y1="655" y2="840.583" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint5_linear" x1="-65.326" x2="-225.133" y1="1830.71" y2="3960.62" gradientUnits="userSpaceOnUse"><stop stop-color="#C4C4C4" stop-opacity=".18"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/></linearGradient><linearGradient id="paint6_linear" x1="1077.03" x2="1584.75" y1="2794.22" y2="3081.91" gradientUnits="userSpaceOnUse"><stop stop-color="#C4C4C4" stop-opacity=".18"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/></linearGradient><linearGradient id="paint7_linear" x1="1743.73" x2="1615.19" y1="3391.45" y2="3617.48" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint8_linear" x1="1447.64" x2="1263.3" y1="2883.56" y2="3207.71" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint9_linear" x1="656.229" x2="527.689" y1="3408.96" y2="3634.98" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint10_linear" x1="-49.326" x2="-209.133" y1="453.71" y2="2583.62" gradientUnits="userSpaceOnUse"><stop stop-color="#C4C4C4" stop-opacity=".18"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/></linearGradient><linearGradient id="paint11_linear" x1="1107.5" x2="619.5" y1="1840.5" y2="2804" gradientUnits="userSpaceOnUse"><stop stop-color="#fff"/><stop offset="1" stop-color="#E9E9E9" stop-opacity="0"/></linearGradient><linearGradient id="paint12_linear" x1="1098.58" x2="192.071" y1="1709.99" y2="1203.49" gradientUnits="userSpaceOnUse"><stop stop-color="#C4C4C4" stop-opacity=".18"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/></linearGradient><linearGradient id="paint13_linear" x1="980.026" x2="1487.75" y1="1669.22" y2="1956.91" gradientUnits="userSpaceOnUse"><stop stop-color="#C4C4C4" stop-opacity=".18"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/></linearGradient><linearGradient id="paint14_linear" x1="1818.7" x2="1687.6" y1="1081.82" y2="1312.36" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint15_linear" x1="1358.09" x2="1254.76" y1="1502.78" y2="1684.48" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint16_linear" x1="717.919" x2="589.379" y1="2603.65" y2="2829.67" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint17_linear" x1="556.611" x2="475.292" y1="2839.04" y2="2982.03" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint18_linear" x1="1398.15" x2="1223.51" y1="2389.08" y2="2696.16" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="paint19_linear" x1="562.799" x2="424.373" y1="2069.05" y2="2312.46" gradientUnits="userSpaceOnUse"><stop stop-color="#fff" stop-opacity=".1"/><stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient></defs></svg>
<footer class="sm--footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div
                    class="sm--footer__brand d-flex justify-content-center justify-content-md-start align-items-center">
                    <span class="sm--footer__logo-wrapper">
                        <svg class="sm--footer__logo" width="331" height="331" viewBox="0 0 331 331" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path class="sm--navbar__logo-segment" fill-rule="evenodd" clip-rule="evenodd"
                                d="M201.315 219.406L201.315 280.221C201.315 285.076 197.823 289.012 193.516 289.012C189.208 289.012 185.716 285.076 185.716 280.221L185.716 51.753C185.716 39.0775 199.029 32.3827 207.398 40.8496L210.643 44.1322C243.632 77.5078 256.009 129.702 242.191 177.178L234.165 204.752L234.165 280.221C234.165 285.076 230.674 289.012 226.366 289.012C222.059 289.012 218.567 285.076 218.567 280.221V219.406L201.315 219.406ZM201.315 202.383L201.315 58.3379C228.881 87.0951 239.105 131.374 227.369 171.698L218.567 201.942L218.567 202.383H201.315Z"
                                fill="white" />
                            <path class="sm--navbar__logo-segment"
                                d="M83.6956 49.236C83.7281 44.7965 80.1555 41.1713 75.716 41.1388C71.2766 41.1064 67.6513 44.6789 67.6189 49.1184C67.4036 78.5599 69.3276 116.176 75.6592 130.411C78.9395 137.786 83.4313 143.552 89.372 147.944C93.6065 151.075 98.3688 153.353 103.556 155.082L103.556 279.931C103.556 284.371 107.155 287.97 111.594 287.97C116.034 287.97 119.633 284.371 119.633 279.931V155.082C124.82 153.353 129.582 151.075 133.817 147.944C139.757 143.552 144.249 137.786 147.53 130.411C153.861 116.176 155.785 78.5599 155.57 49.1184C155.537 44.6789 151.912 41.1064 147.473 41.1388C143.033 41.1713 139.461 44.7965 139.493 49.236C139.709 78.7396 137.611 113.15 132.84 123.877C130.569 128.983 127.739 132.443 124.259 135.016C121.058 137.382 117.019 140.725 111.594 140.725C106.169 140.725 102.13 137.382 98.9297 135.016C95.4498 132.443 92.6199 128.983 90.3488 123.877C85.5775 113.15 83.4798 78.7396 83.6956 49.236Z"
                                fill="white" />
                            <path class="sm--navbar__logo-segment"
                                d="M22.6971 22.6971H308.303V259.126H331V0H0V331H259.126V308.303H22.6971V22.6971Z"
                                fill="white" />
                            <path class="sm--navbar__logo-segment" fill-rule="evenodd" clip-rule="evenodd"
                                d="M331 274.257H274.257V331H331V274.257ZM313.977 291.28H291.28V313.977H313.977V291.28Z"
                                fill="white" />
                        </svg>
                    </span>
                    <span class="sm--footer__brand-name">Your Restaurant Online</span>
                </div>
                <div class="sm--footer__brand-slogan">
                    <p>Handcrafting websites for restaurants</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="sm--footer__social-icons d-flex justify-content-center justify-content-md-end">
                    <span class="sm--footer__social-icon-wrapper d-flex justify-content-center align-items-center"
                        onclick="window.location.href = 'mailto:hello@yourrestaurant.online?subject=Hi%20there!'">
                        <svg class="sm--footer__social-icon" width="100" height="100" viewBox="0 0 100 100" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)" fill="#fff">
                                <path
                                    d="M25.759 40.96c.759.536 3.047 2.126 6.864 4.771 3.817 2.645 6.74 4.682 8.772 6.11.223.157.697.497 1.423 1.022.725.525 1.328.949 1.808 1.272.48.324 1.06.687 1.74 1.088a10.1 10.1 0 0 0 1.926.903c.603.202 1.161.302 1.674.302h.068c.513 0 1.071-.1 1.674-.302.602-.2 1.245-.502 1.925-.903.68-.402 1.261-.764 1.741-1.088.48-.323 1.082-.747 1.808-1.272.725-.525 1.2-.865 1.423-1.022 2.053-1.428 7.277-5.056 15.67-10.882a15.905 15.905 0 0 0 4.084-4.118C79.453 35.235 80 33.55 80 31.786c0-1.473-.53-2.735-1.59-3.784-1.061-1.049-2.317-1.573-3.767-1.573H25.357c-1.719 0-3.041.58-3.968 1.74C20.463 29.332 20 30.782 20 32.523c0 1.407.614 2.93 1.841 4.57 1.228 1.642 2.534 2.93 3.918 3.868z" />
                                <path
                                    d="M76.651 44.542c-7.32 4.955-12.879 8.806-16.673 11.552a79.074 79.074 0 0 1-3.097 2.193c-.793.524-1.847 1.06-3.164 1.607-1.317.547-2.544.82-3.683.82h-.067c-1.139 0-2.367-.273-3.684-.82-1.316-.547-2.371-1.083-3.163-1.607a79.312 79.312 0 0 1-3.097-2.193c-3.014-2.21-8.56-6.06-16.641-11.552A17.735 17.735 0 0 1 20 41.63v26.585c0 1.474.524 2.734 1.574 3.783 1.049 1.05 2.31 1.574 3.783 1.574h49.286c1.473 0 2.734-.524 3.784-1.574 1.049-1.05 1.573-2.31 1.573-3.783V41.63a18.457 18.457 0 0 1-3.349 2.912z" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <path fill="#fff" transform="translate(20 20)" d="M0 0h60v60H0z" />
                                </clipPath>
                            </defs>
                        </svg>
                    </span>
                    <span class="sm--footer__social-icon-wrapper d-flex justify-content-center align-items-center"
                        onclick="window.open('https://www.facebook.com/yourrestaurantonline', '_blank')">
                        <svg class="sm--footer__social-icon" width="100" height="100" viewBox="0 0 100 100" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M63.887 23.011L56.937 23c-7.81 0-12.855 5.177-12.855 13.191v6.082h-6.99c-.603 0-1.092.49-1.092 1.093v8.813c0 .603.49 1.093 1.093 1.093h6.988v22.235c0 .604.49 1.093 1.093 1.093h9.118c.604 0 1.093-.49 1.093-1.093V53.271h8.172c.604 0 1.093-.489 1.093-1.093l.003-8.811a1.095 1.095 0 0 0-1.094-1.094h-8.174v-5.156c0-2.478.59-3.736 3.819-3.736l4.682-.002c.604 0 1.093-.49 1.093-1.092v-8.183c0-.603-.489-1.092-1.092-1.093z"
                                fill="#fff" /></svg>
                    </span>
                    <span class="sm--footer__social-icon-wrapper d-flex justify-content-center align-items-center"
                        onclick="window.open('https://www.instagram.com/your_restaurant_online/', '_blank')">
                        <svg class="sm--footer__social-icon" width="100" height="100" viewBox="0 0 100 100" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M64.188 14H36.811C24.215 14 14 24.215 14 36.813v27.374C14 76.785 24.215 87 36.813 87h27.374C76.785 87 87 76.785 87 64.187V36.814C87 24.215 76.785 14 64.187 14zm15.968 50.188c0 8.805-7.163 15.968-15.969 15.968H36.814c-8.806 0-15.97-7.163-15.97-15.969V36.814c0-8.806 7.164-15.97 15.97-15.97h27.374c8.806 0 15.97 7.164 15.97 15.97v27.374z"
                                fill="#fff" />
                            <path
                                d="M50.5 32.25c-10.079 0-18.25 8.171-18.25 18.25s8.171 18.25 18.25 18.25 18.25-8.171 18.25-18.25-8.171-18.25-18.25-18.25zm0 29.656c-6.287 0-11.406-5.119-11.406-11.406 0-6.292 5.119-11.406 11.406-11.406 6.287 0 11.406 5.114 11.406 11.406 0 6.287-5.119 11.406-11.406 11.406zm19.619-28.593a2.432 2.432 0 1 0 0-4.863 2.432 2.432 0 0 0 0 4.863z"
                                fill="#fff" /></svg>
                    </span>
                </div>
                <div class="sm--footer__social-encouragement d-flex justify-content-center justify-content-md-end">
                    Check us out on social media!
                </div>
            </div>
        </div>
        <div class="sm--footer__signature row">
            <div class="col-12 col-md-6 px-0 d-flex justify-content-center justify-content-md-end">
               <p class="my-0">© 2018 All Rights Reserved <span class="d-none d-md-inline pl-1">|</span></p>
            </div>
            <div class="col-12 col-md-6 px-0 d-flex justify-content-center justify-content-md-start"><span class="d-none d-md-inline pr-1">|</span>Design by <a
                    class="sm--footer__signature-link" href="https://www.spencersmarx.com/" target="_blank"><p class="my-0">&nbsp;Spencer
                    Marx</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="/libs/js/jquery-3.4.1.min.js"></script>
<script src="/libs/js/popper.min.js"></script>
<script src="/libs/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>

</body>
</html>