<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Restaurant Online | Design Firm</title>
    <link rel="icon" type="image/ico" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/libs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>

<body>
    <nav>

    </nav>
    <main>