// ======================
// Imports
// ======================
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


// ======================
// Color Variables
// ======================

$primary: #006DB7;

// ======================
// Breakpoints
// ======================

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// ======================
// Fonts
// ======================

// Families
$font-lato: 'Lato', sans-serif;

// Weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;