<%include partials/header%>
<svg class="sm--hero__background-svg" viewBox="0 0 2000 1393" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M956.88 1385.8C956.88 1385.8 236.746 1360.67 53.4369 1027.36C-133.117 688.14 228.693 75.9653 228.693 75.9653C228.693 75.9653 1594.68 -218.628 1873.88 352.449C2031.41 674.639 2066.56 928.177 1832.15 1192.32C1606.24 1446.87 956.88 1385.8 956.88 1385.8Z"
        fill="url(#paint0_linear)" />
    <defs>
        <linearGradient id="paint0_linear" x1="1378.41" y1="341.824" x2="1304.57" y2="1173.32"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#37B5FF" />
            <stop offset="1" stop-color="#006DB7" />
        </linearGradient>
    </defs>
</svg>
<section class="sm--hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="sm--hero__text-content">
                    <h1 class="sm--hero__header">Handcrafted websites for restaurants</h1>
                    <h3 class="sm--hero__subheader">We build your digital brand so you don't have to.</h3>
                    <button type="button" class="btn btn-primary btn-lg sm--hero__button">Get Started Free
                        <span>→</span></button>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex d-lg-block justify-content-center justify-content-lg-start">
                <img class="sm--hero__image-computer mx-auto" src="/images/content/hero-computer.png"
                    alt="Computer showing restaurant website">
            </div>
        </div>
    </div>
</section>
<section class="temp">

</section>


<%include partials/footer%>