// ======================
// Header
// ======================

/*
TODO: Create animation frames for navbar on scroll
-> Slide up first (with margin top)
-> THEN fade to white background
*/

// -------- Navbar --------
.navbar {
  width: 100%; // Fit width to  full screen width
  padding-top: 1.5rem; // Set top margin
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: fixed; // Fix  to top of page
  transition: padding $transition-smooth-normal; // Smooth transition with margin
  z-index: assign-Z-Index(highest);

  a.sm--navbar__active-link {
    color: $active-link;
    font-weight: $font-bold;
    transition: $transition-smooth-fast;
  }

  // Clear at the top of the page
  &.sm--navbar__clear {
    background-color: transparent;
    transition: $transition-smooth-normal;

    //  Links  set to white
    a {
      color: white;
    }

    a.sm--navbar__active-link {
      color: $active-link;
    }
  }

  // Solid at the top of the page when clicked
  &.sm--navbar__solid {
    background-color: $secondary;
    transition: $transition-smooth-normal;

    //  Links  set to white
    a {
      color: white;
    }
    a.sm--navbar__active-link {
      color: $active-link;
    }
  }

  // TODO: Make container height on mobile shorter

  // Scrolled
  &.sm--navbar__scrolled {
    padding-top: 0.25rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px; // Shadow
    transition: $transition-smooth-normal; // Smooth transition

    a {
      transition: $transition-smooth-normal; // Give transition
      color: $primary; // Links set to primary
    }
    a.sm--navbar__active-link {
      color: $primary-hover;
    }
    // Shrink logo and change color
    .navbar-brand {
      transition: $transition-smooth-normal;
      transform: scaleX(0.6) scaleY(0.6);
      .sm--navbar__logo-segment {
        fill: $primary; //\ Change SVG Segment Fill
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .navbar:not(.sm--navbar__scrolled) {
    padding-top: 2rem; // Set top margin
  }
  //  Adjust Navbar width on lg screen
  .navbar .container {
    max-width: 78%;
  }
}

@media (min-width: $breakpoint-xl) {
  //  Adjust Navbar width on xl screen
  .navbar .container {
    max-width: 80%;
  }
}

// -------- Brand Logo --------
.navbar-brand {
  transition: $transition-smooth-normal;
  transform: scaleX(1) scaleY(1);

  .sm--navbar__logo {
    width: 60px;
    height: 60px;
  }
}

// -------- Navigation Links --------
//  All  Links
.nav-item {
  text-transform: uppercase;
  margin: auto;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0.5rem;
  }
}

// Set link alignment on Lg+
@media (min-width: $breakpoint-lg) {
  //  All  Links
  .nav-item {
    margin-right: 1rem;
    text-align: right;

    //  Set last nav link flush with the right side of the container
    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

// -------- Toggle Button --------
.hamburger {
  //  Override Bootstrap Outline
  &:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
    outline: none;
  }
}

// Don't show Toggle Button on screens Lg+
@media (min-width: $breakpoint-lg) {
  .hamburger {
    display: none;
  }
}
