// ======================
// SITE MAIN CONTENT
// ======================

// ----------------------
// Hero
// ----------------------

// -------- Section Div --------

// Padding on screens Lg+
.sm--hero {
  padding-top: 10rem; // Move section content down
  padding-bottom: 10rem; // Move section content down
  transition: $transition-smooth-normal;
  position: relative;
}

@media (min-width: $breakpoint-lg) {
  .sm--hero {
    padding-top: 25rem; // Move section content down
    padding-bottom: 25rem; // Move section content down
  }
}

// -------- Background SVG --------

.sm--hero__background-svg {
  position: absolute;
  width: 1600px;
  height: auto;
  top: -300px;
  left: -250px;
  z-index: assign-Z-Index(base); // Lowest
  transition: $transition-smooth-normal; //Add smooth transition
}

// Position Lg+
@media (min-width: $breakpoint-lg) {
  .sm--hero__background-svg {
    width: 2000px;
    height: 1393px;
    left: 50px;
  }
}

// -------- Hero Text Content--------
.sm--hero__text-content {
  text-align: center;
  transition: $transition-smooth-normal;

  // Header
  .sm--hero__header {
    font-weight: $font-bold;
    @include font-size(3.5rem);
    line-height: normal;
    text-transform: uppercase;
    color: white;
  }
  // Subheader
  .sm--hero__subheader {
    padding: 1rem 0.5rem;
    font-weight: $font-light;
    @include font-size(1.25rem);
    line-height: normal;
    text-transform: none;
    color: white;
  }

  // Button - "Get Started Free →"
  a.sm--hero__button {
    background: $secondary;
    box-shadow: $shadow;
    transition: $transition-smooth-normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    border: none;

    // Hover Effects
    &:hover {
      background: $secondary-hover;
      transform: $transform-scale;
    }
  }
}

// Hero Header Text on screens Lg+
@media (min-width: $breakpoint-lg) {
  .sm--hero__text-content {
    margin-left: 10rem;
    text-align: left;
  }
}

// -------- Hero Image - Computer --------

.sm--hero__image-computer {
  // position: relative;
  transition: $transition-smooth-normal;
  width: 425px;
  height: 100%;
  margin-top: 1rem;
}
@media (min-width: $breakpoint-md) {
  .sm--hero__image-computer {
    width: 600px;
    margin-top: 1rem;
  }
}
@media (min-width: $breakpoint-lg) {
  .sm--hero__image-computer {
    position: absolute;
    top: -275px;
    z-index: assign-Z-Index(upper);
    width: 1250px;
    height: auto;
    margin-top: 0;
  }
}

// ----------------------
// Features
// ----------------------

// -------- Section Div --------
.sm--features {
  padding-top: 1rem; // Move section content down
  padding-bottom: 1rem; // Move section content down
  transition: $transition-smooth-normal;
  position: relative;
}

// -------- Feature Cards --------
.sm--features__feature-card {
  margin-top: 1rem;
  border: none;
  height: 300px;
  background: transparent;
  transition: $transition-smooth-fast;

  .sm--features__feature-card-hover-indicator {
    height: 8px;
    width: 100%;
    background: none;
    transition: $transition-smooth-normal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &:hover {
    background: white;
    box-shadow: $shadow;
    transform: $transform-scale;

    .sm--features__feature-card-hover-indicator {
      background: $primary;
    }
  }
}

// Adjust card height on screens Md+
@media (min-width: $breakpoint-md) {
  .sm--features__feature-card {
    height: 355px;
  }
}

// ----------------------
// Benefits
// ----------------------

// -------- Section Div --------
.sm--benefits {
  margin: 2rem auto;
}

// -------- Background SVG --------

.sm--benefits__background-svg {
  position: absolute;
  top: 2600px;
  width: 1000px;
  height: auto;
  z-index: assign-Z-Index(base); // Lowest
  transition: $transition-smooth-normal; //Add smooth transition
}

// Position Md - LG
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
  .sm--benefits__background-svg {
    width: 1000px;
    height: auto;
    top: 2000px;
    left: 175px;
  }
}

// Position Lg - Xl
@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 1) {
  .sm--benefits__background-svg {
    width: 1100px;
    height: auto;
    top: 1500px;
    left: 575px;
  }
}

// Position Xl+
@media (min-width: $breakpoint-xl) {
  .sm--benefits__background-svg {
    width: 1100px;
    height: auto;
    top: 1400px;
    left: 830px;
  }
}

// -------- Benefit Figures --------
.sm--benefits__figures {
  margin: 2rem auto;

  .sm--benefits__figure {
    margin: 0.75rem auto;
  }

  // Spacing for each figure's sub-block
  div div {
    margin: auto 0.5rem;

    // Spacing for text in figure sub-blocks
    p {
      margin: 0;
    }
  }

  // Add gradient and font styling
  .sm--benefits__figure-number {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(to right, $primary 0%, $secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// -------- Benefit Cards Layout --------
.sm--benefits__benefit-cards {
  .col-12,
  .col-md-6 {
    padding: 0;
  }
}

// -------- Benefit Card --------
.sm--benefits__benefit-card {
  // Styling
  box-shadow: $shadow;
  border: none;
  // Standardize size
  height: 250px;
  // Spacing
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  transition: $transition-smooth-normal;

  .card-body {
    height: 40px;
  }

  .sm--benefits__benefit-tick-marks {
    position: relative;
    bottom: 0.5rem;
    svg * {
      transition: $transition-smooth-normal;
    }
  }

  .sm--benefits__benefit-card-icon-frosting {
    transition: $transition-smooth-normal;
  }

  &:hover {
    background: $secondary;
    color: white;

    .sm--benefits__benefit-card-icon-frosting,
    .sm--benefits__benefit-tick-marks circle {
      fill: white;
    }
  }
}

// ----------------------
// Quotes
// ----------------------

// -------- Section Div --------
.sm--quotes {
  margin: 8rem auto;
}

// -------- Section Container --------
.sm--quotes .container {
  margin: auto;
  max-width: 70%;
}
// -------- Section Container --------
@media (min-width: $breakpoint-md) {
  .sm--quotes .container {
    max-width: 60%;
  }
}

// -------- Quote Header --------
.sm--quotes__header {
  text-align: center;
}

// -------- Quote Slideshow --------
.sm--quotes__slideshow {
  margin: 1rem auto;
}

// -------- Quote --------
.sm--quotes__quote {
  display: none;
  position: relative;
  height: 210px;
  transition: 450ms;
  width: 100%;
}

// Screen sizes sm+
@media (min-width: $breakpoint-sm) {
  .sm--quotes__quote {
    height: 100px;
  }
}
// Screen sizes md+
@media (min-width: $breakpoint-md) {
  .sm--quotes__quote {
    height: 150px;
  }
}

.sm--quotes__quote-active {
  display: inline-block;
  // opacity:1;
}

// -------- Quote: Animations --------

// Slide for Incoming New Quote
.sm--quotes__quote-active-slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 450ms;
}

/* The animation code */
@keyframes slideInLeft {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  50% {
    transform: translateX(130px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sm--quotes__quote-active-slide-in-right {
  animation-name: slideInRight;
  animation-duration: 450ms;
}

/* The animation code */
@keyframes slideInRight {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  50% {
    transform: translateX(-130px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// -------- Quote Text--------
.sm--quotes__quote-text {
  text-align: center;
}

// -------- Quote Rating--------
.sm--quotes__quote-rating {
  text-align: center;

  // Set spacing for score
  .sm--quotes__quote-rating-score {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  svg {
    // Set size
    width: 16px;
    height: 16px;

    // Adjust position
    position: relative;
    bottom: 2px;
  }
}

// -------- Quote Author--------
.sm--quotes__quote-author {
  text-align: center;
  font-style: italic;
}

// -------- Quote Indicator --------
.sm--quotes__quote-indicator {
  margin: auto;
  text-align: center;

  // Each individual bar
  .sm--quotes__quote-indicator-bar {
    padding: 2px 16px 2px 16px;
    display: inline-block;
    border-radius: 5px;
    margin: auto 0.5rem;
    background: $gray;

    &:hover {
      cursor: pointer;
    }
  }

  .sm--quotes__quote-indicator-bar-active {
    background: $primary;
  }
}

// ----------------------
// Inquiry
// ----------------------

// -------- Section Div --------
.sm--inquiry {
  margin: 8rem auto;
}

// -------- Background SVG --------

.sm--inquiry__background-svg {
  position: absolute;
  width: 1800px;
  height: auto;
  top: 4050px;
  left: -1050px;
  z-index: assign-Z-Index(base); // Lowest
  transition: $transition-smooth-normal; //Add smooth transition
}

// Position 420 - Sm
@media (min-width: 420px) and (max-width: $breakpoint-sm - 1) {
  .sm--inquiry__background-svg {
    top: 3950px;
  }
}
// Position Sm - Md
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
  .sm--inquiry__background-svg {
    top: 3875px;
  }
}
// Position Md - Lg
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
  .sm--inquiry__background-svg {
    top: 3075px;
    left: -850px;
  }
}
// Position Lg+
@media (min-width: $breakpoint-lg) {
  .sm--inquiry__background-svg {
    top: 2650px;
    left: -850px;
  }
}

// -------- Text Content --------
.sm--inquiry__text-content {
  margin: 3rem auto 2rem auto;
}

@media (min-width: $breakpoint-lg) {
  .sm--inquiry__text-content {
    margin: auto;
  }
}

// -------- Header Icon --------
.sm--inquiry__header-icon-wrapper {
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  // Set width height and color of SVG
  .sm--inquiry__header-icon-svg {
    width: 50px;
    height: 50px;
    path {
      fill: $secondary;
    }
  }
}
// -------- Text Header --------
.sm--inquiry__header {
  color: white;
  margin: 1.5rem auto 1rem auto;
}

// -------- Text Subheader --------
.sm--inquiry__subheader {
  color: white;
}

// Spacing on screens Lg+
@media (min-width: $breakpoint-lg) {
  .sm--inquiry__text-content {
    margin: 12rem auto;
  }
}

// -------- Info Group--------
.sm--inquiry__info-group {
  margin: 2rem auto;
}

// -------- Info --------
.sm--inquiry__info {
  color: white;
}

// -------- Info Text Links --------
.sm--inquiry__info-text a {
  position: relative;
  color: white;
  text-decoration: none;

  // Hover underline effect
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

// -------- Info Icons--------
.sm--inquiry__info-icon svg {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 2rem;
  width: auto;
  position: relative;
  bottom: 2px;
}

// ----------------------
// Contact
// ----------------------

// -------- Section Div --------
.sm--contact {
  margin: 5rem auto;
}

// -------- Text Content --------
.sm--contact__text-content {
  text-align: center;

  // Text spacing
  p {
    margin: 1rem auto;
  }
}

// -------- Text Content --------
.sm--contact__button {
  margin: 1rem auto;
  background: $primary;
  color: white;
  transition: $transition-smooth-normal;

  &:hover {
    background: $primary-hover;
    color: white;
  }
}

// ----------------------
// Full Page Background
// ----------------------

// -------- Circles --------
.sm--full-page__background-circles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; //Align to right side
  z-index: assign-Z-Index(mid);
}
